<div>
    <div class="row">
        <form class="col-12" [formGroup]='createBoardForm' (ngSubmit)="createBoard()">
            <div class="col">
                <input formControlName="name" type="text" class="form-control" id="floatingInput" placeholder="Create Board">
            </div>
            <div class="col mt-0" >
                <button [disabled]='!createBoardForm.valid' class="mt-3 w-100 btn btn-primary btn-sm" type="submit">Create</button>
            </div>
        </form>

        <hr class="my-4">

        <div class="col mt-4">
            <ul class="list-unstyled">
                <li class="d-flex justify-content-between mb-2" *ngFor="let board of (boardService.boards$ | async)">
                    <h6 class="">{{board.title}} </h6>
                    <span class="text-muted">  {{ board.createdDate | date: 'dd/MM/yyyy'}} </span>
                </li>
            </ul>
        </div>
    </div> 
</div>
