<!--Contents of board-->
<div *ngIf="!(this.boardService.currentBoard$ | async)">
    Nothing here
</div>
<div *ngIf="this.boardService.currentBoard$ | async">
    
    <div class="container-fluid">
        <div class="row justify-content-between">
            <h3 class="board-title col-4"> {{(this.boardService.currentBoard$ | async).title }} </h3>
            <a class="share col-4" href=""> <i class="fa-solid fa-user-plus"></i></a>
        </div>

    </div>

    <form [formGroup]='createTodoForm' class="input-group mt-3 mb-3 row" (ngSubmit)="createTodo()" > 
        <span class="input-group-prepend input-group-text"><i class="fa fa-plus " aria-hidden="true"></i></span>
        <input formControlName="task" class="mr-2 form-control" placeholder="Add a task" ptype="text" id="AddItem">
        <span><button [disabled]="!createTodoForm.valid" class="btn btn-primary">Add</button></span>
    </form>
    <div>
        <div *ngFor="let item of (boardService.currentBoard$ | async)?.todos">
            <app-todo-item [todo]='item'></app-todo-item>
        </div>
    </div>

    
</div>
